*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo{
    max-height: 75%;
}

.verticalLine {
  border-left: 0.5px solid #E5E5E5;
  height: 75px;
  margin-left: 15px;
    margin-top: 20px
}

.desc_image{
    margin-left: 2.5rem;
    padding-top: 20rem;
     font-family: 'Montserrat', sans-serif;
     color: white;
       max-width: 500px;
       padding-bottom: 30px;
}

.desc_main{
    font-size: 2rem;
}

.centercontent{
    height: 450px;
     margin-bottom: 2rem;
     background-position: center;
      background-image: url("./img/banner.jpg");
      border-radius:10px;
      background-blend-mode: multiply;
      background-color: #d0c3c3;
}


#bottomain{
    height: 430px;
}

.centertitle{
    height:85px;
     margin-bottom:2rem;
}

.centertitle_title{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1500;
}

.centertitle_desc{
    color: #B0B0B0;
    font-size: 1.2rem;
}

.main_header {
    height: 100px;
    margin-bottom: 5.5rem;
}

.main_header .logo, .main_header .verticalLine  {
    display: inline-flex;
}

.menu_link{
   margin-top: 2rem;
   color: #959595;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 1.1rem;
   word-spacing: 15px;
}

.sidebar_1,.sidebar_2 {
    background-color: #ABCFE7;
    width: 19%;
    

}

.maincontent {
    width: 60%;
    margin-left: 1%;
    margin-right: 1%;
    
    
   
}

.maincontent_background{
    background-image: url(./img/banner-2.jpg);
    height: 150px;
    margin-bottom: 0px;

}

.maincontent_background, .sidebar_1, .sidebar_2{
    background-position: center;
    background-size: cover;
     background-blend-mode: multiply;
      background-color: #d0c3c3;
    border-radius:10px;

}

.maincontent > h3, .sidebar_1 > h3, .sidebar_2 > h3{
    margin: 10px 0; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

.maincontent > p,.sidebar_1 > p,.sidebar_2 > p{
    color: #B0B0B0;
    font-family: 'Montserrat', sans-serif;
    font-weight:1000;
}

.sidebar_1, .maincontent {
    float: left;
    height: 350px;
}

.sidebar_1{
     background-image: url(./img/img-1.jpg);
     height: 150px;

}
.sidebar_2{
     float: right;
  background-image: url(./img/img-3.jpg);
     height: 150px;
}

.main_footer {
    margin-top: 0.5rem;
    height: 50px;
    background-color: #8801FE;

}